.bgimage {
    height:100vh;
    /* background-image: url(../images/background.jpg); */
    background-size:cover;
    position: relative;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(../images/background.jpg);
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.imageAboutPage {
    width: 100%;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.16);
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.card {
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.16);
}
.servicesText:hover {
    border: 1px solid #008000;
}
.navbarScroll.navbarDark {
    background-color: black;
    transition: 0.3s;
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-github:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: grey;
    transition: 0.3s;
}
.fab {
    color: white;
}
/* footer styling */
#footer, #contact {
    background-color: black;
    text-align: center;
}

#about, #resume, #portfolio, #contact {
    /* margin-top: 1.5rem; */
    /* padding-top: 1.5rem; */
}
/* #contact {
    padding-bottom: 4rem;
} */

body{
    color:#EDEEF0;
}